* {
	box-sizing: border-box;
}
 
html,
body {
	width: 100%;
    height: 100%;
    margin: 0;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}


.image {
	margin-right: 50px;
}
 

 
button:focus,
input:focus {
	outline:0;
}


